** INFORMACION DEL PARTIDO UNIR **

First Name: {{ first_name }}.
Last Name: {{ last_name }}.
City: {{ city }}.
id: {{ id }}.

First Name: {{ second_first_name }}.
Last Name: {{ second_last_name }}.
City: {{ second_city }}.
id: {{ second_id }}.

Fecha: {{ ansible_date_time.iso8601 }}
